#game {
    width: 600px;
    height: 350px;
    border: 2px solid black;
    margin: auto;
    background-image: url('https://i.pinimg.com/736x/2d/4f/d6/2d4fd69043af53f3151fc1b33f9fd349.jpg');
    background-size: contain;
}
#score {
    text-align: center;
}
#westly {
    width: 95px;
    height: 95px;
    /* background-color: beige; */
    background-image: url('westly.png');
    background-size: cover;
    position: relative;
    top: 260px;
    /* animation: jump 0.5s; */
}
#yellowf {
    width: 50px; 
    height: 50px;
    /* background-color: beige; */
    position: relative;
    top: 207px;
    left:525px;
    background-image: url('yellow-pole.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* align-items: center;
    justify-content: center; */
    animation: yellowf 1.33s infinite;
}

@keyframes yellowf {
    0%{left: 550px;}
    100%{left:-50px}
}

.jump-animation{
    animation: jump 0.5s;
}

@keyframes jump {
    0%{top: 260px;}
    50%{top:75px;}
    75%{top:75px;}
    100%{top:260px;}
}